/* border-box */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

/* img */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}