.form-label {
    color: $primary;
    font-weight: 500;
    text-wrap: nowrap;
    margin-top: map-get($spacers, 2);
    margin-bottom: map-get($spacers, 2);
    margin-right: map-get($spacers, 8);
}

.form-control {
    border: 0;
    border-top-right-radius: map-get($spacers, 1);
    border-top-left-radius: map-get($spacers, 1);
    padding: map-get($spacers, 2) map-get($spacers, 3);

    &.form-custom {
        background-color: $secondary-200;
        border-bottom: 1px solid $primary;
    }

    &::placeholder {
        color: $secondary;
    }

}

.form-select {
    &.form-secondary {
        color: $secondary;
    }

    &.filter-select {
        width: 255px;
        margin-right: map-get($spacers, 8);

    }
}

.form-text {
    text-wrap: nowrap;
}